name: Node CI

on: [push]

jobs:
  setup:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: install
      run: yarn install
      run: npm run bootstrap
      
 test:

    runs-on: ubuntu-latest

    steps:
    - name: install
    - uses: actions/checkout@v1
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
      run: npm run typecheck
      run: yarn test
      run: npm run integration
  build:
    needs: setup
    runs-on: ubuntu-latest

    steps:
    - name: build
    - uses: actions/checkout@v1
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
      run: npm run build
